html{
    background: #dcd9d8
}
#secondMenu{
    width:  850px;
    height: 50px;
    margin: auto;
    background-color: white;
    position: relative;
    bottom: 0px;
}
#backgroundLayer{
    width: 850px;
    height: 300px;
    background-color:#3b5998 ;
    margin:auto;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}
#profilePic{
    width:175px;
    height:175px;
    background-color:#3b5998;
    border:1px black solid;
    position: relative;
    top: 155px;
    left: 20px;
    padding:0;
    margin: 0;
    z-index: 10;
}
#pageName{
    position: absolute;
    left: 208px;
    bottom: 15px;
    font-size: 22px;
}
#websiteName{
    position: absolute;
    left: 210px;
    bottom: -5px;
    font-size: 15px;
    color:white;
}
#like{
    position: absolute;
    color:#828381;
    left: 500px;
    background-color:white;
    height: 21px;
    width: 55px;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    left:510px;
    bottom: -5px;
    border-radius: 5px;  
}
#follow{
    position: absolute;
    color:#828381;
    left: 500px;
    background-color:white;
    height: 21px;
    width: 55px;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    left:590px;
    bottom: -5px;
    border-radius: 5px;  
}
#message{
    position: absolute;
    color:#828381;
    left: 500px;
    background-color:white;
    height: 21px;
    width: 70px;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    left:657px;
    bottom: -5px;
    border-radius: 5px;
}
#more{
    position: absolute;
    color:#828381;
    left: 500px;
    background-color:white;
    height: 21px;
    width: 70px;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    left:739px;
    bottom: -5px;
    border-radius: 5px;
}
#secondMenu{
    width:  850px;
    height: 50px;
    margin: auto;
    background-color: white;
    position: relative;
    bottom: 0px; 
}
#secondMenuList li{
    color:#696969;
    display: inline-block;
    text-align: center;
    list-style-type: none;
    position: relative; 
    left:458px;
    bottom: 50px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}
#secondMenuList #timeline{
padding-right: 50px;
}
#secondMenuList #about{
    padding-right: 20px;
    border-right:#828381 1px solid;
}
#secondMenuList #welcome{
    padding-right: 20px;
    padding-left: 20px;
    border-right:#828381 1px solid;
}
#secondMenuList #fwb{
    padding-right: 20px;
    padding-left: 20px;
    border-right:#828381 1px solid;
}
#secondMenuList #more2{
    padding-right: 20px;
    padding-left: 20px;
}

#leftColumnDiv{
    width:328px;
    height:200px;
    margin: auto;
    position: relative;
    right: 261px;
    bottom: 41px;
    background-color: white;
}

#aboutYourPage{
    color:black;
    font-size: 15px;
    position: relative;
    top: 15px;
    padding-left: 30px;
    padding-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    border-top:#828381 1px solid;
}
#lorem{
    font-size: 15px;
    color: #3b5998;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom:#828381 1px solid;
    font-weight: normal;
}
#yourWebsite{
    color: #3b5998;
    padding-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#rightColumnDiv{
    width:512px;
    height:400px;
    margin: auto;
    position: relative;
    right: -169px;
    bottom: 257px;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#blueSquare{
    width:75px;
    height:75px;
    background-color:#3b5998;
    position: absolute;
    margin:auto;
    z-index: 100;
    left:15px;
    top:15px;
}

#changed{
    position: absolute;
    left: 100px;
    top: 30px;
    padding: 0;
    margin:auto;
    font-size: 15px;
    font-weight: normal; 
    color:gray;
}

#yourPageSpan{
    color:blue;
}
#minutesAgo{
    position: absolute;
    left: 110px;
    top: 55px;
    padding: 0;
    margin:auto;
    font-size: 15px;
    font-weight: normal; 
    color:gray;
}
#bigBlueBox{
    background-color: #3b5998;
    height: 275px;
    width: 494px;
    position: relative;
    top: 100px;
    left:9px;
}
#postActions li{
    color:black;
    display: inline-block;
    position: relative; 
    right:29px;
    z-index: 100;
    top:85px;
    font-size: 12px;
}
